---
title: About
date: "2019-03-03"
aliases: ["about-us","about","contact"]
---

This newsletter is a medium to share information across computational developmental sciences research communities. It participates to animate an interdisciplinary research community around modeling sensorimotor, cognitive and social development, with contributions from biology, neuroscience, psychology (cognitive science), computer science, electrical engineering, and mathematics. The newsletter is open access. It was created in 2004 and is published twice a year.


<h2 class="pt-5 mb-3">Scope</h2>
Each issue features:  

<ul>
  <li>A scientific interdisciplinary dialog around cognitive and developmental systems. There is first a dialog initiation on an important multidisciplinary topic related to developmental sciences. Then, several answers by researchers from computational, biological and human sciences backgrounds are presented, followed by a synthesis by the dialog proposer. The goal of the dialog is to let researchers express their own point of views in a concise manner and around the same topic. If you wish to propose a new dialog, please contact the editor-in-chief.</li>
  <li>Committee News: CDS TC events and news.</li>
  <li>General News: announcements of related conferences, workshops, books, journals, etc.</li>
  <li>The table of content of the latest release of IEEE Transactions on Cognitive and Developmental Systems.</li>
</ul>

The success of this newsletter depends on your support! Please send the material you recommend and your suggestions to the editor.


