<meta charset="utf-8">
<meta name="viewport" content="width=device-width initial-scale=1" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<title>{% if page.title %}{{ page.title }}{% if page.subtitle %}: {{ page.subtitle }}{% endif %} » {% endif %}{{ site.title }}</title>

<meta name="author" content="{{ page.author }}">
<meta name="description" content="{{ site.description }} This page includes content related to {% for tag in page.tags %}{{ tag }}, {% endfor %} robotics, research">

<link rel="shortcut icon" href="{{ "/assets/favicon.png" | prepend: site.baseurl }}" type="image/png">

<!-- Bootstrap core CSS -->
<link rel="stylesheet" href="{{ "/assets/bootstrap/css/bootstrap.min.css" | prepend: site.baseurl }}">

<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl }}">

<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl }}">

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

<style>
  body {
    padding-top: 55px;
    max-width: 960px;
    margin: auto;
  }
</style>
