<!-- liquid if and contains are case sensitive. Thus the level variable has been hacked -->

{% assign role = include.param | downcase %}

{% if role contains 'chair' %}
  {% assign title = 'Editor in chief' %}

{% elsif role contains 'past' %}
  {% assign title = 'Past Newsletter Editors-in-chief' %}

{% endif %}

<h3>{{ title | Capitalize }}</h3>

<ul class="list-unstyled">
{% for member in site.data.members %}
  {% assign ans = member.role | downcase %}
  {% if role contains ans and member.name != 'template' %}
  <li class="media ml-5 mt-4">
    <div class="media-body">
      <h5 class="mt-0 mb-1">{{ member.name }}</h5>
      {{ member.affiliation }}<br>
      {% if member.email %}
      {{ member.email }}<br>
      {% endif %}
      <a href="{{ member.link }}" target="_blank">{{ member.link }}</a>
    </div>
  </li>
  {% endif %}
{% endfor %}
</ul>

