{% assign group = include.grouped | downcase %}

{% if group contains 'year' %}
  {% assign byYear = site.newsletters | group_by_exp:"item", "item.date | date: '%Y'" %}
  {% for year in byYear %}
<h3 class="pt-5">{{ year.name }}</h3>
<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-12 col-md-11">
      {% for activity in year.items %}
        {% if activity.shorttitle %}
          {% assign toctitle = activity.shorttitle %}
      {% else %}
          {% assign toctitle = activity.title %}
      {% endif %}
        <h4><a href="{{ activity.url | prepend: site.baseurl }}">{{ toctitle }}</a></h4>
        <p class="text-muted">{{ activity.date | date_to_string  }}</p>
      {% endfor %}
    </div>
  </div>
</div>
  {% endfor %}
{% else %}
<div class="container-fluid pt-4">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-12 col-md-11">
  <ul class="list-unstyled">
    {% for activity in site.newsletters %}
      {% if activity.shorttitle %}
          {% assign toctitle = activity.shorttitle %}
      {% else %}
          {% assign toctitle = activity.title %}
      {% endif %}
      <li>
        <h4><a href="{{ activity.url | prepend: site.baseurl }}">{{ toctitle }}</a></h4>
        <p class="text-muted">{{ activity.date | date_to_string  }}</p>
      </li>
    {% endfor %}
  </ul>
    </div>
  </div>
</div>
{% endif %}

