---
layout: single-column
---
<h2 class="pt-1 pb-3">{{ page.title }}</h2>

{% if page.journal %}
  Journal: {{ page.journal }}
  {% if page.publisher %}
    by {{ page.publisher }}
  {% endif %}
  <br>
{% endif %}

{% if page.venue %}
  {{ page.venue }}
  <br>
{% endif %}

{% if page.organizers %}
  Organizers: {{ page.organizers }}<br>
{% endif %}

{% if page.date %}
  Date: 
  {% if page.dateend %}
    from {% include date-formatting.html date=page.date %} 
    to {% include date-formatting.html date=page.dateend %} 
  {% else %}
    {% include date-formatting.html date=page.date %} 
  {% endif %}
  <br>
{% endif %}

{% if page.location %}
  Location: {{ page.location }}<br>
{% endif %}

{% if page.link %}
  <a href="{{ page.link }}">{{ page.link }}</a>
{% endif %}


<div class="pt-5"></div>
{{ content }}

