<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>

  <body>

    {% include navbar.html %}

    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <h1 class="pt-5 mb-3 text-center">{{ site.title }}</h1>
          <h5 class="pt-2 mb-5 text-center"><a href="{{ site.subtitleurl }}" class="text-muted" target="_blank">{{ site.subtitle }}</a></h5>
        </div>
      </div>

      <div class="row justify-content-center pt-4">
        <div class="col-xs-12 col-sm-12 col-md-10">
          {{ content }}
        </div>
      </div>

      <div class="pb-5"></div>
      {% include footer.html %}
    </div> <!-- /container -->
  </body>
</html>
